body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-style: 15px;
}

.cards-wrapper {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 10rem;
    border-radius: 10px;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    height: 30rem;
    padding: 1.6rem 2.6rem;
    max-width: 14rem;
    min-width: 10rem;
    transition: all 0.25s;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.9);
}
.one {
    background-color: rgb(217,114,29);
}
.one:hover {
    max-width: 18rem;
   
}
.two:hover {
    max-width: 18rem;
  
}
.three:hover {
    max-width: 18rem;
    
}
.two {
    background-color: rgb(11,87,95);
}
.three {
    background-color: rgb(5,50,48);
}
.icon-image {
    margin-top: 1rem;
    height: 40px;
    align-self: flex-start;
    margin-bottom: 3rem;
}
h2 {
    margin-top: 0rem;
    font-size: 2rem;
    font-family: Big Shoulders Display;
    color: white;
    margin-bottom: 3rem;
}
.main-text {
    margin-top: 0rem;
    font-family: Lexend Deca;
    font-weight: 300;
    line-height: 1.6rem;
    width: 100%;
    color: white;
    margin-bottom: 5rem;
}
.button  {
    background-color: white;
    border: none;
    border-radius: 28px;
    align-self: flex-start;
    padding: 0.8rem 2rem;
    cursor: pointer;
    font-family: Lexend Deca;
    transition: all 0.15s;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
}

.first {
    color:rgb(217,114,29);
}

.second {
    color: rgb(11,87,95);
}
.third {
    color: rgb(5,50,48);
}

.first:active {
    background-color: rgb(217,114,29);
    color: white;
    border: 1px solid white;
}
.second:active {
    background-color: rgb(11,87,95);
    color: white;
    border: 1px solid white;
}
.third:active {
    background-color: rgb(5,50,48);
    color: white;
    border: 1px solid white;
}
@media (max-width: 1200px) {
    .main-text {
        margin-bottom: 3rem;
    }
}
@media (max-width: 780px) {
    .cards-wrapper {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 4rem;
    }
    h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .icon-image {
        height: 50px;
        margin-bottom: 2rem;
    }
    .main-text {
        width: 80%;
        line-height: 2rem;
        margin-bottom: 2rem;
    }
    body {
        height: 210vh;
    }
    .card {
        max-width: 24rem;
        height: 24rem;
        padding: 2rem 4rem 4rem 4rem;
    }
    .card:hover {
        max-width: 24rem;
        height: 28rem;
    }
}
